/* -----------
   google font
   ----------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ------------
   common style
   ------------ */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1160px;
    margin: 0 auto;
}

/* ------
   header
   ------ */
header{
    width: 1440px;
    height: 677px;
    margin: 0 auto;
    background-color: #2D25A0;
}
/* --------
   nav-menu
   -------- */
nav{
    display: flex;
    width: 1160px;
    height: 44px;
    margin: 0 auto;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}
.nav-left ul li a{
    text-decoration: none;
    color: white;
}
.nav-button{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.nav-button i{
    margin-right: 5px;
}
.nav-button:hover{
    box-shadow: 1px 1px 15px gray;
}
/* ------
   banner
   ------ */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.link-button{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.link-button:hover{
    box-shadow: 1px 1px 15px gray;
}
.link-button i{
    margin-left: 10px;
}
.banner-right{
    text-align: right;
}
.banner-img img{
    width: 80%;
}
.banner-right:hover .banner-img{
    transform: rotate3d(0, 1, 0, 360deg);
    transition: transform 2s ease-in-out;
}
/* -------
    Main 
   -------*/
main{
    width: 1440px;
    margin: 70px auto;
}
/* ------
   Players
   ------ */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.player{
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 1px 1px 15px gainsboro;
    transition: transform 0.5s ease-in-out;
}
.player:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 15px gainsboro;
}
.player img{
    width: 100%;
    margin-bottom: 15px;
}
.player h2{
    font-size: 24px;
    font-weight: 700;
}
.player p{
    font-size: 16px;
    color: #6C6C6C;
}
/* ---------
     News
   --------- */
.news-section{
    margin-top: 80px;
}
.news-section h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #E02C6D;
}
.news{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.news a{
    text-decoration: none;
}
.news-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 5px gainsboro;
    transition: transform 0.5s ease-in-out;
}
.news-info:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 10px gainsboro;
}
.news-info img{
    width: 100%;
}
.news-info p, span{
    color: #6C6C6C;
}
.news-info h3{
    color: black;
}
.news-section .news-button{
    margin-top: 40px;
    text-align: center;
}


/* --------
    gallery
   --------*/
   .gallery{
       width: 100%;
   }
   .photo-album h2{
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
    color: #E02C6D;
   }
   .album-top{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-column-gap: 6px;
   }
   .top-photo{
    width: 100%;
    height: 320px;
   }
   .album-bottom{
     display: flex;
   }
   .bottom-photo{
       width: 99%;
       height: 100%;
   }

/* ----------
   Highlights
   ---------- */
.highlights{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.highlight-left h3{
    font-size: 40px;
    font-weight: 700;
}
.highlight-left p{
    font-size: 16px;
    color: #6C6C6C;
    margin: 20px 0;
}
.highlight-right img{
    width: 100%;
}

/* ------
   footer
   ------ */
footer{
    width: 1440px;
    margin: 0 auto;
    padding: 40px 0;
}
.footer-section{
    text-align: center;
}
.footer-img img{
    width: 40%;
    text-align: center;
}
.social-icons ul li{
    list-style: none;
    display: inline;
    margin-left: 5px;
    background-color: #c9cace;
    padding: 6px 10px;
    border-radius: 50%;
}
.social-icons ul li a{
    text-decoration: none;
    color:gray;
    font-size: 16px;
}
.fab{
    transition: .5s ease-in-out;
}
.fab:hover{
    transform: scale(1.2);
    color: black;
    transition: transform .5s ease-in-out;
}
.footer-section p{
    margin-top: 20px;
}

/* -----------
   media query
   ----------- */

/* Mobile devices */
@media only screen and (max-width: 688px) {
/* header and banner */
    header{
        width: 100%;
        height: 100vh;
    }
    nav{
        display: none;
    }
    .container{
        width: 100%;
    }
    .banner, .highlights{
        flex-direction:column;
    }
    .banner-left{
        margin-top: 40px;
        padding: 24px;
    }
    .banner-left h1{
        font-size: 45px;
    }
    .banner-right img{
        margin-top: 40px;
        width: 100%;
    }
/* players */
    main{
        width: 100%;
        margin: 30px auto;
    }
    .players, .news, .album-top{
        grid-template-columns: repeat(1, 1fr);
    }

/* news section */
    .news-section{
        margin-top: 30px;
    }
}
/* gallery */
    .album-bottom{
        flex-direction: row;
    }

/* highlights */
    .highlight-left{
    padding: 24px;
    }
    .highlight-left h3{
    font-size: 28px;
    }
/* footer section */
    footer{
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
    }
    .footer-img img{
        width: 70%;
        margin-bottom: 30px;
    }
/* Tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    /* header and banner */
    header{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .banner-right img{
        width: 100%;
    }

    /* players */
    main{
        width: 100%;
    }
    .players, .news{
        grid-template-columns: repeat(2, 1fr);
    }
    /* news */
    .news-section{
        margin-top: 30px;
    }
    /* gallery */
    .gallery{
        padding-top: 30px;
    }
    .top-photo{
        height: 200px;
    }
    /* highlights */
    .highlight-left{
        padding: 0;
    }
    /* footer */
    footer{
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
    }
    .footer-img img{
        width: 70%;
        margin-bottom: 30px;
    }
}